html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
}
* {
  margin: 0;
  padding: 0;
  font-size:14px;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
.clear{ clear:both; width:100%; height:1px; line-height:1px; font-size:1px;}

.weui_cell:first-child:before {
  display: none;
}
.weui_cells {
  margin-top: 1.17647059em;
  background-color: #FFFFFF;
  line-height: 1.41176471;
  font-size: 17px;
  overflow: hidden;
  position: relative;
}
.weui_cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.weui_cells:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.weui_cells_title {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
  color: #888;
  font-size: 14px;
}
.weui_cells_title + .weui_cells {
  margin-top: 0;
}
.weui_cells_tips {
  margin-top: .3em;
  color: #888;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}
.weui_cell {
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
          width:45%;
          float:left;
}
.weui_cell_ft {
  text-align: right;
  color: #888;
}
.weui_cell_primary {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.weui_cells_access .weui_cell:not(.no_access) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_cells_access .weui_cell:not(.no_access):active {
  background-color: #ECECEC;
}
.weui_cells_access a.weui_cell {
  color: inherit;
}
.weui_cells_access .weui_cell_ft:after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  top: -1px;
  margin-left: .3em;
}
.weui_check_label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_check {
  position: absolute;
  left: -9999em;
}
.weui_cells_radio .weui_cell_ft {
  padding-left: 0.35em;
}
.weui_cells_radio .weui_cell:active {
  background-color: #ECECEC;
}
.weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
  display: block;
  content: '\EA08';
  color: #09BB07;
  font-size: 16px;
}
.weui_cells_checkbox .weui_cell_hd {
  padding-right: 0.35em;
}
.weui_cells_checkbox .weui_cell:active {
  background-color: #ECECEC;
}
.weui_cells_checkbox .weui_icon_checked:before {
  content: '\EA01';
  color: #C9C9C9;
  font-size: 16px;
  display: block;
  position:relative;
   top:1px;
}
.weui_cells_checkbox .weui_check:checked + .weui_icon_checked:before {
  content: '\EA06';
}
.weui_label {
  display: block;
  width: 11em;
  font-size:14px;
}
.weui_input {
    width: 207px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    padding-left:8px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.weui_input::-webkit-outer-spin-button,
.weui_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.weui_textarea {
    display: block;
    width: 100%;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    padding-left: 8px;
    background: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.weui_textarea_counter {
  color: #B2B2B2;
  text-align: right;
}
.weui_cell_warn .weui_textarea_counter {
  color: #E64340;
}
.weui_toptips {
  display: none;
  position: fixed;
  -webkit-transform: translateZ(0);
  width: 100%;
  top: 0;
  line-height: 2.3;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  z-index: 2;
}
.weui_toptips.weui_warn {
  background-color: #E64340;
}
.weui_cells_form .weui_cell_warn {
  color: #E64340;
}
.weui_cells_form .weui_cell_warn .weui_icon_warn {
  display: inline-block;
}
.weui_cells_form .weui_cell_ft {
  font-size: 0;
}
.weui_cells_form .weui_icon_warn {
  display: none;
}
.weui_cells_form input,
.weui_cells_form textarea,
.weui_cells_form label[for] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_cell_select {
  padding: 0;
}
.weui_cell_select .weui_select {
  padding-right: 30px;
  color:#838383;
}
select {
    width: 217px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    padding-left: 8px;
    background: none;
    color:#999;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.weui_select {
    width: 217px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    padding-left: 8px;
    background: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.weui_select_before {
  padding-right: 15px;
}
.weui_select_before .weui_select {
  width: auto;
}
.weui_select_before .weui_cell_hd {
  position: relative;
}
.weui_select_before .weui_cell_hd:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.weui_select_before .weui_cell_hd:before {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
}
.weui_select_before .weui_cell_bd {
  padding-left: 15px;
}
.weui_select_before .weui_cell_bd:after {
  display: none;
}
.weui_select_after {
  padding-left: 15px;
}
.weui_msg_title{ padding:10px 0px 10px; font-size:20px; text-align:center; background:#fff; margin-top:10px; box-shadow:0 0 3px rgba(0,0,0,.2);}
